@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./styles/animations.css";
@import "./styles/calendar-popup.css";
@import "./styles/date-picker.css";
@import "./styles/fonts.css";
@import "./styles/theme.css";
@import "./styles/tailwind.css";
@import "./styles/index.css";

